<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layouts/layout-reportVoucher">
<head>
  <title>HH-凭证查询</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  
</head>
<body>
<div layout:fragment="content" style="">
    <!-- 搜索框      开始 -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group" style="margin-top: 15px;">
            </div>
        </div>
    </div>
    <!-- 搜索框      结束 -->
    <!-- 报表  开始 -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="main" style="width: 1000px;height:500px;"></div>
        </div>
    </div>
    <!-- 报表  结束 -->
</div>
</body>
</html>