<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layouts/layout-voucher">
<head>
  <title>HH - 凭证录入</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<body>
<div layout:fragment="content">
	<!-- 搜索框      开始 -->
	<div class="panel panel-default">
		<div class="panel-body" id="change_panel-body">
				<form id="formSearch" onsubmit="return false" class="form-horizontal" >
					<div class="col-sm-12 form-group"  >
						<label class="control-label col-sm-1"
							   for="txt_search_voucherId">凭证号</label>
						<div class="col-sm-2">
							<input type="text" class="form-control"
								   id="txt_search_voucherId" th:value="${voucherId}"/>
						</div>
						<div class="col-sm-1.5">
							<button type="button" class="btn btn-primary"
									id="print_voucher">打印</button>
						</div>
						<div class="col-sm-1.5">
							<button type="button" class="btn btn-primary"
									id="add_voucher">新增</button>
						</div>
						<div class="col-sm-1.5">
							<button type="button" class="btn btn-primary"
									id="save_voucher">保存</button>
						</div>
						<div class="col-sm-1.5">
							<button type="button" class="btn btn-primary"
									id="search_voucher">查询</button>
						</div>
					</div>
				</form>
		</div>
	</div>
	<!-- 搜索框      结束 -->
	<!-- 列表  Table    开始 -->
	<div class="panel panel-default" id="printArea">
		<div class="panel-body">
			<div class="voucher_title_div">
				<div class="invoiceTitle"><b>阜阳市浩华桥架记账凭证</b></div>
			</div>
			<div class="voucher_title_div div-inline" >
				<div class="customer_name div-inline" >
					<span class="div-inline">客户名称：</span>
					<select id="customerSelect" >
						<option value="" ></option>
					</select>
				</div>
				<div class="rightDiv div-inline">
					<div class="voucher_number div-inline">
						<div class="changeVoucher div-inline" onclick="changeVoucher(0)"> < </div>
						<div class="invoiceCode div-inline">记字第：&nbsp;HH-<span style="margin:0px 5px 5px 0px"></span>号</div>
						<div class="changeVoucher div-inline" onclick="changeVoucher(1)"> > </div>
					</div>
					<div class="invoiceDate div-inline" >日期<span style="margin:0px 0px 5px 5px">2018</span></div>
				</div>
			</div>
			<table id="tb_voucher" border="0" width="100%"  cellspacing="0" cellpadding="0"  class="voucher" >
				<tr>
					<th scope="col" >序号</th>
					<th scope="col" >名称</th>
					<th scope="col" >规格</th>
					<th scope="col" >单位</th>
					<th scope="col" >数量</th>
					<th scope="col" >单价(元)</th>
					<th scope="col">总价(元)</th>
					<th scope="col">备注</th>
				</tr>
				<tr class="voucher_row">
					<td><div class="po-add"><a href="javascript:;" id="lastAdd" class="chu vou_icon_hide"></a></div>
						<input type="text" value="" onblur="changeValue(this)" readonly="readonly"/></td>
					<td><input type="text" value="" onblur="changeValue(this)"/></td>
					<td><input type="text" value="" onblur="changeValue(this)"/></td>
					<td><input type="text" value="" onblur="changeValue(this)"/></td>
					<td><input type="text" class="integerNum" value="" onblur="changeValue(this)"/></td>
					<td><input type="text" class="money" value="" onblur="changeValue(this)"/></td>
					<td><input type="text" class="money" value="" onblur="changeValue(this)" readonly="readonly"/></td>
					<td><div class="po-delete"><a href="javascript:;" class="chu vou_icon_hide"></a></div>
						<input type="text" value="" onblur="changeValue(this)"/>
					</td>
				</tr>
				<tr class="total">
					<td colspan="2">合计</td>
					<td colspan="4"><input type="text" id="totalChinese" class="Arabia_to_Chinese" readonly="readonly"/></td>
					<td><input type="text" id="totalAmount" readonly="readonly"/></td>
					<td><span class="voucherMaker">制单人：</span><input type="text" id="voucherMaker"/></td>
				</tr>
				<!--<tr class="voucher_pay">
					<td colspan="2"><span>收款：</span><input type="text" id="payMoney" class="money" value="" onblur="changePay(this)"/></td>
					<td colspan="4"><input type="text" id="payChinese" class="Arabia_to_Chinese" readonly="readonly"/></td>
                    <td colspan="2" rowspan="2"><textarea id="remarkTextarea" placeholder="备注："></textarea></td>
				</tr>-->
				<tr class="voucher_noPay">
					<td colspan="2"><span>累计欠款：</span><input type="text" id="debtMoney" class="money" value="" readonly="readonly"></td>
					<td colspan="4"><input type="text" id="debtChinese" class="Arabia_to_Chinese" readonly="readonly"/></td>
					<td colspan="2"><input id="remarkTextarea" placeholder="备注：" style="text-align: left"/></td>
				</tr>

			</table>
			<div class="voucher_bottom_div">
				<div class="">地址：<span style="margin:0px 0px 5px 5px">阜阳市颍东经济开发区东昌路（管委会南200米）</span></div>
				<div class="">电话：<span style="margin:0px 0px 5px 5px">0558-2222197 </span></div>
				<div class="">手机：<span style="margin:0px 0px 5px 5px">18325881119 </span> <span style="margin:0px 0px 5px 5px">15955831909 </span></div>
				<div class="buttomInfo">
					<div class="leftInfo">注&nbsp;：此凭证3日后自动转为欠款凭证，请核对以上清单，确认无误后签名盖章</div>
					<div class="rightInfo">收货人单位及经手人（盖章）：</div>
                    <div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 列表  Table    结束 -->
</div>
</body>
</html>