<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.improve.dao.IVoucherDao" >
  <resultMap id="BaseResultMap" type="com.hh.improve.entity.Voucher" >
    <result column="voucher_Id" property="voucherId" jdbcType="VARCHAR" />
    <result column="customer_Id" property="customerId" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="voucher_Date" property="voucherDate" jdbcType="VARCHAR" />
    <result column="voucher_Maker" property="voucherMaker" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    V.voucher_Id, V.customer_Id, V.amount, V.voucher_Date, V.voucher_Maker,
    V.remark, V.creater, V.created_time, V.modifier, V.modified_time
  </sql>

    <select id="getMaxVoucherId" resultType="java.lang.String">
        SELECT max(voucher_Id)
        FROM hh_voucher
    </select>

  <select id="queryByCondition" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM hh_voucher V
    <where>
      <if test="voucherId != null and voucherId !=''">
        AND V.voucher_Id = #{voucherId, jdbcType = VARCHAR}
      </if>
      <if test="customerId != null and customerId !=''">
        AND V.customer_Id = #{customerId, jdbcType = VARCHAR}
      </if>
      <if test="voucherDate != null and voucherDate != ''">
        AND V.voucher_Date = #{voucherDate, jdbcType = VARCHAR}
      </if>
    </where>
  </select>



  <insert id="insert" parameterType="com.hh.improve.entity.Voucher">
    INSERT INTO hh_voucher
    (
    voucher_Id,
    customer_Id,
    amount,
    voucher_Date,
    voucher_Maker,
    remark,
    creater,
    created_time)
    VALUES(
    #{voucherId,jdbcType=VARCHAR},
    #{customerId,jdbcType=VARCHAR},
    #{amount,jdbcType=DECIMAL},
    #{voucherDate,jdbcType=VARCHAR},
    #{voucherMaker,jdbcType=VARCHAR},
    #{remark,jdbcType=VARCHAR},
    #{creater,jdbcType=VARCHAR},
    sysdate())
  </insert>

  <update id="update" parameterType="com.hh.improve.entity.Voucher">
    UPDATE hh_voucher
    <set >
      <if test="customerId != null and customerId !=''" >
        customer_Id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null and amount !=''" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="voucherDate != null and voucherDate !=''" >
        voucher_Date = #{voucherDate,jdbcType=VARCHAR},
      </if>
      <if test="voucherMaker != null and voucherMaker !=''" >
        voucher_Maker = #{voucherMaker,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark !=''" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      MODIFIED_TIME = sysdate()
    </set>
    <where >
      voucher_Id = #{voucherId, jdbcType=VARCHAR}
    </where>
  </update>

  <select id="queryVoucherListPage" resultType="com.hh.improve.entity.vo.VoucherVo">
    SELECT  V.customer_Id AS customerId,C.customer_Name AS customerName ,
    SUM(V.amount) AS amount, COUNT(voucher_Id) AS voucherNnm
    FROM hh_voucher V
    LEFT JOIN hh_customer C ON V.customer_Id = C.customer_Id
    <where>
      <if test="customerName != null and customerName !=''">
        AND C.customer_Name LIKE "%"#{customerName, jdbcType = VARCHAR}"%"
      </if>
      <if test="voucherDate_begin != null and voucherDate_begin !=''">
        <![CDATA[ AND V.voucher_Date >= #{voucherDate_begin, jdbcType = TIMESTAMP} ]]>
      </if>
      <if test="voucherDate_end != null and voucherDate_end !=''">
        <![CDATA[ AND V.voucher_Date <= #{voucherDate_end, jdbcType = TIMESTAMP} ]]>
      </if>
    </where>
    GROUP BY V.customer_Id
    ORDER BY  amount DESC
  </select>

  <select id="queryVoucherSonListPage" resultType="com.hh.improve.entity.vo.VoucherVo">
    SELECT  V.voucher_Id AS voucherId, V.customer_Id AS customerId, V.amount AS amount,
    V.voucher_Date AS voucherDate,
    V.voucher_Maker AS voucherMaker, V.remark AS remark,V.creater AS creater, V.created_time AS createdTime,
    V.modifier AS modifier, V.modified_time  AS modifiedTime,C.customer_Name AS customerName
    FROM hh_voucher V
    LEFT JOIN hh_customer C ON V.customer_Id = C.customer_Id
    <where>
      <if test="customerId != null and customerId !=''">
        AND V.customer_Id = #{customerId, jdbcType = VARCHAR}
      </if>
      <if test="customerName != null and customerName !=''">
        AND C.customer_Name LIKE "%"#{customerName, jdbcType = VARCHAR}"%"
      </if>
      <if test="voucherId != null and voucherId !=''">
        AND V.voucher_Id = #{voucherId, jdbcType = VARCHAR}
      </if>
      <if test="voucherDate_begin != null and voucherDate_begin !=''">
        <![CDATA[ AND V.voucher_Date >= #{voucherDate_begin, jdbcType = TIMESTAMP} ]]>
      </if>
      <if test="voucherDate_end != null and voucherDate_end !=''">
        <![CDATA[AND V.voucher_Date <= #{voucherDate_end, jdbcType = TIMESTAMP}]]>
      </if>
    </where>
    ORDER BY  V.voucher_Date DESC
  </select>

  <select id="countAmountByCustomerId"  parameterType="java.lang.String" resultType="java.math.BigDecimal">
    SELECT SUM(V.amount) AS totalAmount
    FROM hh_voucher V
    WHERE V.customer_Id = #{customerId, jdbcType = VARCHAR}
  </select>
</mapper>